@page "/resumes"
@using PersonalWebsite.Components.PdfModal
@using PersonalWebsite.Components.PdfLink
@using PersonalWebsite.Components.GitHubLink
@inherits BasePage

<PageTitle>Mark J. Hogan - My Resumes</PageTitle>

<div class="container">
    <GitHubLink FullURL="@GitHubLinkUrl" />
    <h1>My Resumes</h1>
    <p>Select a resume to view:</p>
    <ul>
        <li>
            <PdfLink 
                FilePath="files/2025 - Resume - Engineer - Full.pdf"
                Title="Engineer Resume"
                LinkText="📄 Engineer Resume (PDF)"
                PdfModal="@pdfModalEngineerResume" />
        </li>
        <li>
            <PdfLink 
                FilePath="files/2025 - Resume - Architect - Full.pdf"
                Title="Architect Resume"
                LinkText="📄 Architect Resume (PDF)"
                PdfModal="@pdfModalArchitectResume" />
        </li>
        <li>
            <PdfLink 
                FilePath="files/2025 - Resume - Manager - Full.pdf"
                Title="Manager Resume"
                LinkText="📄 Manager Resume (PDF)"
                PdfModal="@pdfModalManagerResume" />
        </li>
        <li>
            <PdfLink 
                FilePath="files/2025 - Resume - Legacy Technology.pdf"
                Title="Infrastructure Legacy Systems Engineering Addendum"
                LinkText="📄 Infrastructure Legacy Systems Engineering Addendum (PDF)"
                PdfModal="@pdfModalLegacySysEngTexaco" />            
        </li>
    </ul>
    <PdfModal @ref="pdfModalEngineerResume" />
    <PdfModal @ref="pdfModalArchitectResume" />
    <PdfModal @ref="pdfModalManagerResume" />
    <PdfModal @ref="pdfModalLegacySysEngTexaco" />
</div>

@code {
    protected override string FilePath => "Pages/Resumes/Resumes.razor";

    private PdfModal? pdfModalEngineerResume;
    private PdfModal? pdfModalArchitectResume;
    private PdfModal? pdfModalManagerResume;
    private PdfModal? pdfModalLegacySysEngTexaco;
}