@page "/myblogs"

@inject HttpClient Http
@inject IJSRuntime JSRuntime

<div class="container">
    <h2>Blog</h2>

    @if (BlogPosts == null)
    {
        <p>Loading Blog posts...</p>
    }
    else
    {
        @foreach (var post in BlogPosts)
        {
            <h3>@post.Title</h3>
            <div class="recommendation@(isOdd ? " reverse" : "")">
                @* // isMobile *@
                <div style="float: @(isOdd ? "left" : "right");">
                    @if (!string.IsNullOrWhiteSpace(post.ImageUrl))
                    {
                        <img src="@post.ImageUrl" class="rounded-3 image-url-@(isOdd ? "left" : "right")" />
                    }
                    <a href="@post.Link" target="_blank" class="link-@(isOdd ? "left" : "right")">Read More</a>
                </div>
                @if (post.Summary.StartsWith("<li>"))
                {
                    <ul>
                        @foreach (var item in post.Summary.Split("</li>", StringSplitOptions.RemoveEmptyEntries))
                        {
                            <li>@item.Split('>')[1]</li>
                        }
                    </ul>
                }
                else if (post.Summary.StartsWith("<p>"))
                {
                    @foreach (var item in post.Summary.Split("</p>", StringSplitOptions.RemoveEmptyEntries))
                    {
                        <p>@item.Split('>')[1]</p>
                    }
                }
                else
                {
                    <p>@post.Summary</p>
                }   
            </div>
            <br />
            isOdd = !isOdd;
        }
    }
</div>

@code {
    private List<BlogPost>? BlogPosts;
    bool isOdd = false;
    private int windowWidth;
    private bool isMobile => windowWidth <= 768;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetStringAsync("data/blogposts.json");
        BlogPosts = System.Text.Json.JsonSerializer.Deserialize<List<BlogPost>>(response);
        windowWidth = await JSRuntime.InvokeAsync<int>("getWindowWidth");
    }
}