@page "/myprojects"

@inherits BaseDataPage<Project>

<PageTitle>Mark J. Hogan - My Projects</PageTitle>

<div class="container">

    <h2>My Projects</h2>

    @if (Items == null)
    {
        <p>Loading projects...</p>
    }
    else
    {
        @foreach (var project in Items)
        {
            <h3>@project.Name</h3>
            <div class="recommendation@(isOdd ? " reverse" : "")">
                <div class="image-container-@(isOdd ? "left" : "right")">
                    @if (!string.IsNullOrWhiteSpace(project.ImageUrl))
                    {
                        <img src="@project.ImageUrl" class="rounded-3 image-url-@(isOdd ? "left" : "right")" />
                    }
                    <a href="@project.Link" target="_blank">View Project</a>
                </div>
                @if (project.Description.StartsWith("<li>"))
                {
                    <ul>
                        @foreach (var item in project.Description.Split("</li>", StringSplitOptions.RemoveEmptyEntries))
                        {
                            <li>@item.Split('>')[1]</li>
                        }
                    </ul>
                }
                else if (project.Description.StartsWith("<p>"))
                {
                    <div class="paragraph-rows">
                        @foreach (var item in project.Description.Split("</p>", StringSplitOptions.RemoveEmptyEntries))
                        {
                            <p>@item.Split('>')[1]</p>
                        }
                    </div>
                }
                else
                {
                    <p>@project.Description</p>
                }   
            </div>
            <br />
            isOdd = !isOdd;
        }
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            await LoadDataAsync("data/projects.json");
        }
        catch (ArgumentException ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
}